<!DOCTYPE html>
<html>

  {% include head.html %}
    {% if page.css %}
	<link rel="stylesheet" href="/css/{{page.css}}">
    {% endif %}
    </head>
    <body>

    {% include header.html %}
    <div class="page-content" >
      <div class="page-wrap">
      {{ content }}
      </div>
    </div>

    {% include footer.html %}
    <script type="text/javascript" src="/js/jquery.js"></script>
    <script type="text/javascript" src="/js/scrolly.js"></script>
    <script type="text/javascript">
    	$('.parallax').scrolly({bgParallax: true});
    </script>
    {% if page.custom_js %}
	<script type="text/javascript" src="/js/{{ page.custom_js }}"></script>
    {% endif %}
    {% if page.is_homi %}
	<script type="text/javascript">
	  var $container = $('.container');
          $container.masonry({
	    columnWidth: 200,
            itemSelector: '.masonry-item',
          }); 	  
  	</script>
    {% endif %}   
    </body>
</html>
