<!DOCTYPE html>
<html>

  {% include head.html %}
    {% if page.css %}
	<link rel="stylesheet" href="{{ site.baseurl }}/css/{{ page.css }}">
    {% endif %}
    </head>
    <body>

    {% include header.html %}
    <div class="page-content" >
      <div class="page-wrap">
      {{ content }}
      </div>
    </div>

    {% include footer.html %}
    <script type="text/javascript" src="{{ site.baseurl }}/js/jquery.js"></script>
    <script type="text/javascript" src="{{ site.baseurl }}/js/scrolly.js"></script>
    <script type="text/javascript">
      var w = $(window).width();
      if (w > 800) {
    	$('.parallax').scrolly({bgParallax: true});
      }; 
    </script>
    {% if page.custom_js %}
	<script type="text/javascript" src="{{ site.baseurl }}/js/{{ page.custom_js }}"></script>
    {% endif %}
   </body>
</html>
